<%- include("partials/header") -%>
<div class="login-box">
    <h2><%=username%> Info</h2>
    <form method="post" action="/memberinfo/<%=username%>"  enctype="multipart/form-data">
      
      <div class="user-box">
        <input type="text" name="year" required="">
        <label>year</label>
      </div>
      <div class="user-box">
        <input type="text" name="description" required="">
        <label>description</label>
      </div>
   <input type="file" name="file" />     
      <button type="submit">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        EDIT
      </button>
    </form>
  </div>





<%- include("partials/footer") -%>